/* General Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  height: var(--header-height);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}


.header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  position: relative;
  left: 50px;
}

.logo a:hover {
  color: var(--color-secondary);
}


.nav {
  display: flex;
  gap: 15px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.navLink:hover {
  color: var(--color-secondary);
}

.active {
  color: #00a8f0;
  font-weight: bold;
}

.active:hover {
  color: white;
}

.userMenu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.userName {
  font-size: 1rem;
  color: white;
}

/* Sidebar Toggle Button (for small screens) */
.sidebarToggle {
  display: none; /* Initially hidden */
  background: none;
  border: none;
  font-size: 30px; /* Size of hamburger icon */
  cursor: pointer;
  color: white;
}

.sidebarToggle:hover {
  color: var(--color-secondary);
}

/* Responsive Design for Small Screens (max-width: 768px) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .nav {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .userMenu {
    margin-top: 10px;
  }

  /* Show sidebar toggle button on small screens */
  .sidebarToggle {
    display: block;
    top: 15px;
    position: absolute; /* Fix to top-right corner */
    right: 20px;
  }

  .navLink {
    font-size: 1.1rem; /* Slightly larger font for easier readability on mobile */
  }
}
