.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #333;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  padding-top: 60px; 
  z-index: 999;
}

.sidebar.active {
  transform: translateX(0);
}

.navLink {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navLink:hover,
.navLink.active {
  background-color: #444;
}

.logo {
  padding: 20px;
  color: white;
  font-size: 16px;
}

.toggleButton {
  position: fixed;
  top: -5px; 
  left: 30vh;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
  transform: translateX(-200px);
  transition: transform 0.3s ease-in-out;
}

.toggleButton:hover {
  opacity: 100%;
  background-color: var(--hover-color);
}

@media (max-width: 769px) {
  .sidebar {
    transform: translateX(0);
    position: relative;
  }

  .toggleButton {
    display: none;
  }
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background */
  z-index: 998; /* Behind the sidebar but above the main content */
}

.overlay:hover {
  cursor: pointer;
}
/* src/components/Sidebar/Sidebar.module.css */
/* ... other styles ... */

.nav .navLink {
  /* Existing styles for navLink */
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav .navLink i:first-child {
  margin-right: 5px;
}
.nav .navLink i:nth-child(2) {
  margin-right: 10px;
}

.management {
  display: none;
  padding-left: 20px; /* Thụt lề các link con */
}

.management.show {
  display: block;
}

.management .navLink {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.management .navLink:hover {
  color: #f1f1f1;
}

.management .navLink i {
  width: 25px; /* Căn chỉnh icon cho đều */
}
.management .active {
  background-color: #04aa6d;
}
.fa-caret-right{
    display: none;
}
.show + .fa-caret-down{
    display: block;
}
.show + .fa-caret-right{
    display: block;
}
.navLink .fa-caret-right {
  margin-right: 10px;
}
.navLink .fa-caret-down {
  margin-right: 10px;
}